<app-loading-indicator *ngIf="inProgress"></app-loading-indicator>

<div class="user-dashboard">
    <div id="statistics" *ngIf="statistics">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total CPU</h5>
                                <span class="h2 font-weight-bold mb-0" id="sumCpu">{{statistics.sumCpu}}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Total RAM</h5>
                                <span class="h2 font-weight-bold mb-0" id="sumRam">{{statistics.sumRam}}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <div class="search hidden-xs hidden-sm">
                <form>
                    <div class="form-group">
                        <input type="te" class="form-control" id="search" aria-describedby="emailHelp"
                            placeholder="Search by Name and Status ..." [formControl]="searchFormControl">
                    </div>
                </form>
            </div>
            <div>
                <div *ngFor="let asset of filteredAssetList; trackBy: trackByFn">
                    <a [routerLink]="['/dashboard/assets/', asset.id]">
                        <app-asset-item [asset]="asset"></app-asset-item>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>