<div class="card asset m-2" >
    <img src="/assets/images/asset.png" class="card-img-top" [alt]="asset.name">
    <div class="card-body">
        <h5 class="card-title">{{asset.name}}</h5>
        <p class="card-text p-1 badge {{asset.status}}">{{asset.status}}</p>
        <div class="d-flex flex-column pt-2 mb-2">
            <p class="text-muted mb-0">CPU: {{asset?.cpu}}</p>
            <p class="text-muted mb-0">RAM: {{asset?.ram}}</p>
        </div>
        Parent:
        <a class="btn btn-primary" *ngIf="asset.parentId" [routerLink]="['/dashboard/assets/', asset.parentId]">{{asset.parentName}}</a>
    </div>
</div>